@using BoltaShop.Models.Dbo
@model IEnumerable<Author>

@{
    ViewData["Title"] = "Authors";
}

<br />
<br />

<!-- ======= Authors ======= -->

<div class="container" data-aos="fade-up">
    <header class="section-header">
        <h3>Authors</h3>
    </header>

    <br />
    <br />
    
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="product-item" style="max-width: 250px;">
                    <div class="pi-pic rounded-2">
                        <img src="@item.Slika" />
                        <div class="icon"><a asp-route-id="@item.Id" asp-controller="Author" asp-action="Delete"><i class="fa-solid fa-x"></i></a></div>
                        <ul>
                            <li class="quick-view"><a asp-route-id="@item.Id" asp-controller="Author" asp-action="Details"><i class="fa-solid fa-eye"></i> Details</a></li>
                            <li class="w-icon active"><a asp-route-id="@item.Id" asp-controller="Author" asp-action="Edit"><i class="fa-solid fa-pen-to-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="product-price">@item.Ime @item.Prezime</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Author")